/*
 * Clone: mesmos pinos de coluna que a esquerda.
 * col-offset 0 = mesma ordem física; letras certas no corne_right.keymap (cols 0–5).
 */

&default_transform {
    col-offset = <0>;
};

&five_column_transform {
    col-offset = <0>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;
};
